{% extends "banner.html" %}

{% block content %}
<form action="/application" method="post">
    <d> {{form.category.label}}</d>
    <d> {{form.category(class='form-control')}}</d>
    <br>    <br>
    <d> {{form.search_term.label}}</d>
    <d> {{form.search_term(class='form-control')}}</d>

    <button type=submit class="btn btn-primary"> Submit Query<span class="oi oi-check" title="Submit"></span></button>

    {% if results %}}
    <br>    <br>
    <br><d>RESULTS:</d></br>
    <br><d>RESULTS: {{records|safe}}</d></br>
    {% endif %}
</form></html>
{% endblock %}



