{% extends "banner.html" %}
{% block content %}
<p></p>
<p></p>
<p><a href="/application" class="btn btn-primary">Application :</a><span> A simple application to query data from a postgreSQL db</span></p>
<p></p>
<p><a href="/hello_world" class="btn btn-primary">Hello World :</a><span> A classic</span></p>
<p></p>
<p><a href="/cat-formatics", class="btn btn-primary">The role of cats in bioinformatics :</a><span> A chat-GPT essay</span><p>
<p></p>
<p><a href="Marshmellow", class="btn btn-primary">Marshmellow :</a> A story about Marshmellow; The cat that saved the human genome project. A fictional chat-GPT story</p>
</div>
{% endblock %}
