{% extends "banner.html" %}
{% block content %}
<p></p>
<p><a href="/application" class="btn btn-primary">Application</a></p>
<p><a href="/hello_world" class="btn btn-primary">Hello World</a></p>
<div class="col-md-4">
    <h2>Cat-formatics: The role of cats in bioinformatics (A Chat GPT essay)</h2>
<p>
Why was the bioinformatics student's cat always at the computer? It was constantly trying to "hack" into the mouse.
</p>
<p>
While cats may not be the first animal that comes to mind when thinking about bioinformatics, they do play a role in the field. One example is the use of cats as animal models for studying genetic diseases. By analyzing the DNA of cats with certain conditions, researchers can gain insights into the genetic basis of those conditions and potentially develop treatments for them. Additionally, cats can serve as "biological sentinels" for monitoring the presence of certain pathogens in the environment. For instance, the presence of Toxoplasma gondii, a parasite that can infect both cats and humans, has been monitored through the analysis of cat feces.
</p>
<p>
In addition to their practical applications, cats have also inspired some fun and creative projects in bioinformatics. For example, the FELIS project, funded by the European Union, aimed to develop a comprehensive database of cat genetics and evolutionary history. And in 2020, researchers at the University of Lincoln in the UK used machine learning techniques to predict the breed of a cat based on its purr. But perhaps the greatest contribution cats have made to bioinformatics is providing endless entertainment and stress relief for researchers with their playful antics and cute faces.
</p>
</div>
<div class="col-md-4">
</div>
<div class="col-md-4">
    <h2>How?</h2>

</div>
{% endblock %}
